[Unit]
Description=Ultron Core and IA Service Manager
After=network.target

[Service]
Type=simple
User=pedro-barros
WorkingDirectory=/usr/bin/ultron
ExecStartPre=/usr/bin/bash /usr/bin/ultron/setup_robots.sh
ExecStart=/usr/bin/node /usr/bin/ultron/server.js
TimeoutStartSec=0
Restart=always
RestartSec=10
Environment=NODE_ENV=production
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
